<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style = background-color:rgb(50,151,158)>

    <h1>Charles Babbage</h1>
    <img src="/images/Babagge.png" alt="Imagen de Babbage" width="300px" height="300px">
    <p>(Teignmouth, 1792 - Londres, 1871) Matemático e ingeniero británico, inventor de las máquinas calculadoras programables. A comienzos del siglo XIX, bien avanzada la Revolución Industrial, los errores en los datos matemáticos tenían graves consecuencias: por ejemplo, una tabla de navegación defectuosa era una causa frecuente de los naufragios. Charles Babbage creyó que una máquina podía hacer cálculos matemáticos más rápidos y más precisos que las personas.</p>
    
</body>
</html>